<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="./img/smiling.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <img class="potrait" src="./img/time-zone.png">
    <img scr="./img/love.png">
    <div class="about-content">
    <p class="about" >{{aboutText}} <a href="mailto:sebakunzithierry@gmail.com">email</a>, <a href="https://twitter.com/thierryelijah?s=20&t=r9XJqJVhw4j37iVpLJ32KA">Twitter</a>, <a href="https://www.instagram.com/thierry_elijah/">Instagram</a>.</p>
    </div>
    
    </div>
    {{>footer}}
</body>

</html>