<!DOCTYPE html>
<html>
<head>
  <title>Help</title>
  <link rel="icon" href="./img/smiling.png">
  <link rel="stylesheet"  href="./CSS/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
  <img class="loved" src="./img/love.png">
  <p class="help">{{helpText}}</p>
  </div>
  
  {{>footer}}
</body>

</html>